<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
            <!-- CSS Files -->
            <link href="{{absolute_url(asset('assets/css/material-dashboard.css'))}}?v=2.1.2" rel="stylesheet" />
            <!-- CSS Just for demo purpose, don't include it in your project -->
            <link href="{{absolute_url(asset('assets/demo/demo.css'))}}" rel="stylesheet" /> 
        {% endblock %}
    </head>
    <body>
        {% block flash %}
			{% include "flash.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}


        {% block javascripts %}
            <!--   Core JS Files   -->
            <script src="{{absolute_url(asset('assets/js/core/jquery.min.js'))}}"></script>
            <script src="{{absolute_url(asset('assets/js/core/popper.min.js'))}}"></script>
            <script src="{{absolute_url(asset('assets/js/plugins/perfect-scrollbar.jquery.min.js'))}}"></script>
            <!--  Plugin for Sweet Alert -->
            <script src="{{absolute_url(asset('assets/js/plugins/sweetalert2.js'))}}"></script>
            <!-- Forms Validations Plugin -->
            <script src="{{absolute_url(asset('assets/js/plugins/jquery.validate.min.js'))}}"></script>
            <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
            <script src="{{absolute_url(asset('assets/js/plugins/jquery.bootstrap-wizard.js'))}}"></script>
            <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js'))}}"></script>
            <script src="{{absolute_url(asset('assets/js/plugins/bootstrap-notify.js'))}}"></script>
            <!-- Material Dashboard DEMO methods, don't include it in your project! -->
            <script src="{{absolute_url(asset('assets/demo/demo.js'))}}"></script>
        {% endblock %}
        <script>
            window.setTimeout(function() {
                $(".alert").fadeTo(500, 0).slideUp(500, function(){
                    $(this).remove(); 
                });
            }, 4000);
        </script>
    </body>
</html>
